*, *:after, *:before {
  box-sizing: border-box;
}

body {
	max-width: 1200px;
	/* Typography */
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

header div {
	/* layout */
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-end;
	margin: 0 auto;
	padding: 0 1em;
}

header h1 {
	/* Typography */
	font-size: 3em;
	font-weight: 400;
	/* layout */
	margin: 0 1em;
}

header h2 {
	/* Typography */
	font-size: 0.85em;
	font-weight: 300;
	color: #404040;
	/* layout */
	text-align: center;
	margin: 0 1em;
}

@media only screen and (max-width: 515px) {
 	header h1 {
		/* Typography */
		font-size: 2em;
	}
}

@media only screen and (max-width: 400px) {
 	header img {
		display: none;
	}
}

/* end header styling */

/* input section styling */

#input-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	margin-top: 1em;
	margin-bottom: 2em;
}

/*#input-quantity {
	width: 2em;
	height: 2em;
	padding: 0.50em;
	margin-left: 1em;
	text-align: right;
}*/

#input-item {
	width: 12em;
	height: 2em;
	padding: 0.50em;
	margin-left: 0.75em;
}

#button-add {
	height: 2em;
	width: 6em;
	margin-left: 1em;
	font-weight: 400;
	background-color: #60B044;
	color: white;
}

#no-input {
	color: red;
	text-align: center;
	font-weight: bold;
	margin: 0 1em;
	flex-basis: 100%;
	display: none;
}

/* --------------- start list section ------------- */


#list-section {
	width: 100%;
	margin: 0 auto;
}

#list-section div {
	max-width: 25em;
	margin: 0 auto;
	padding: 0 0.5em;
}

#list {
	text-align: center;
	/*margin: 0 auto;*/
	padding: 0;
}

#list li {
	/*list-style: none;*/
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: baseline;
}

/*#list img {
	width: 16px;
}*/

#list p {
	text-align: left;
	margin: 0 1em;
	padding: 0;
}

.complete {
	color: gray;
	text-decoration: line-through;
	background-color: #E6E6E6;
}

img.check:hover {
	cursor: pointer;
}

img.remove:hover {
	cursor: pointer;
}


/* footer stuff, including list clear */
footer {
	width: 100%;
}

#clear {
	margin: 0 auto;
	text-align: center;
}

#confirm {
	margin: 0 auto;
	text-align: center;
	display: none;
}

#confirm p {
	font-size: 1.5em;
	font-weight: 400;
}

#button-clear {
	width: 5em;
	background-color: blue;
	color: #FFFFFF;
}

#button-confirm {
	width: 5em;
	background-color: red;
	color: #FFFFFF;
}

#button-cancel {
	width: 5em;
}

@media only screen and (max-width: 515px) {
 	header h1 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 400px) {
 	header img {
		display: none;
	}
}